.name{
  display: block;
  margin-bottom: 3px;
}

p{
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

img{
  width: 200px;
  display: block;
  margin-left: 270px;
  margin-bottom: 10px;
}

.search{
  font-size: 17px;
  margin-left: 70px;
  width: 600px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 1px 10px rgba(88, 88, 88, 0.25);
  margin-bottom: 32px;
  display: block;
}

.fname{
  display: inline-block;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 20px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

.email{
  margin-top: 12px;
  display: block;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 20px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}



.g, .l, .su, .h{
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
  margin-top: 12px;
  color: white;
  background-color: #0099ff;
  width: 15px;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  font-weight: bold;
  transition: 4s;
  color: black;
  text-align: center;
}

.su{
  color: brown;
}

.l:hover{
  width: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwVnVSU-Am41rnnY06Uyq5knwA899PuWBtBB6e7gIr-g&s);
}

.g:hover{
  width: 295px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXJ0JTIwZ2FsbGVyeXxlbnwwfHwwfHx8MA%3D%3D);
}

.h:hover{
  width: 215px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKfTMuQQzES1xFuSmZPuBtWi8icKO48ZzvYcebcOeEHw&s);
}

.su:hover{
  width: 295px;
  background-image: url(/cat-galaxy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  display: inline-block;
}

.req{
  display: block;
  font-family: Arial;
  font-size: 40px;
  width: 800px;
  margin-bottom: 30px;
}

.goal{
  font-family: Arial;
  border: none;
  background-color: rgb(230, 227, 227);
  display: block;
  width: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  font-weight: lighter;
}

.r{
  margin-top: 30px;
  color: white;
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  font-size: 15px;
  margin-right: 10px;
}

.s{
  color: black;
  background-color: rgb(230, 227, 227);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
  border: none;
}